.hero-skeleton-container {
	display: flex;
	flex-direction: column;
	margin: 4rem 0;

	&__description {
		margin: 2rem 0;
	}

	@media (min-width: 768px) {
		margin: 8rem 0;
	}
}

.hero-container {
	margin: 4rem 0;

	@media (min-width: 768px) {
		margin: 8rem 0;
	}
}
