@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  border-left: 10px solid #ccc;
  margin: 10px 0;
  padding: 1em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

em {
  font-style: italic !important;
  font-size: 14px;
  opacity: 0.8;
}

// Variables

$body-background: #ffffff;
$banner-background: #f8f5f2;
$header-background: rgba(255, 255, 255, 0.65);
$project-background: #fffffe;
$project-page-background: #000000;
$project-page-text: #f5f5f7;
$project-text: rgb(35, 35, 35);
$body-text: #000000;
$body-hover: lighten($body-text, 30%);
$light-text: #919195;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $body-background;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: $body-text;
  overflow-y: scroll;
  overflow-x: hidden;
}
button {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  padding: 5px 24px;
  margin: 0 auto;
  background-color: $header-background;
  backdrop-filter: saturate(180%) blur(20px);

  transition: all 0.2s ease-in-out;
  z-index: 9;

  nav {
    display: flex;
    align-items: center;

    a {
      margin: 0 1.3em;
      font-size: 18px;
      color: $body-text;
      text-decoration: none;
      transition: 200ms all ease;
      opacity: 0.8;
      &:focus {
        outline: 0;
      }

      &:hover {
        opacity: 1;
      }
    }

    a:first-child {
      margin-left: 12px;
    }

    @media (max-width: 800px) {
      a {
        font-size: 16px;
        margin: 0 0.75em;
      }
    }
    @media (max-width: 550px) {
      width: 100%;
      margin: 0 auto;
      a,
      a:first-child {
        margin: 0 15px 0 0;
      }
    }
  }

  .social-icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    a {
      color: $body-text;
      padding: 6px;
      margin: 0 0 0 20px;
      opacity: 0.8;
      transition: 200ms opacity ease;

      &:hover {
        opacity: 1;
      }
      @media (max-width: 1600px) {
        padding: 12px;
        margin: 0 0 0 12px;
      }
    }
  }

  @media (max-width: 550px) {
    // margin: 12px 0;
    padding: 0 24px;
    .social-icons {
      //   position: fixed;
      //   bottom: 12px;
      //   right: 12px;
      a {
        padding: 6px 12px;
        margin: 0;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

.first-banner {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90vh;
  background-color: $banner-background;
  .introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: -0.02em;
    width: 820px;
    cursor: default;
    transition: all 0.2s ease-in-out;

    nav {
      ul {
        li {
          font-size: 18px;
          font-weight: 500;
          display: block;
          float: left;
          margin-right: 40px;
          a {
            position: relative;
            display: inline-block;
            padding: 5px 0;
            color: $body-text;
            text-decoration: none;
            cursor: pointer;

            &:focus {
              outline: 0;
            }

            &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: $body-text;
              transform: scaleX(0);
              transform-origin: bottom right;
              transition: transform 0.3s;
            }

            &:hover {
              &:after {
                transform-origin: bottom left;
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
    &__name {
      font-size: 18px;
      font-weight: 400;
      opacity: 0.4;
    }

    &__header {
      margin: 40px 0;
      color: $body-text;
      font-weight: 500;
      line-height: 1.6;
      transition: all 0.2s ease-in-out;
    }
    &__lower-text {
      font-size: 18px;
    }
  }
  @media (max-width: 800px) {
    .introduction {
      width: 90%;
    }
    .scroll-indicator {
      bottom: 7rem;
    }
  }
}

.work {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  background-color: $project-background;
  border-bottom: 1px solid #0000000f;
  transition: box-shadow 0.3s ease-in-out;

  &__inner {
    display: flex;
    padding: 80px 20px;
    margin: 0 auto;

    &__top {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        &:focus {
          outline: 0;
        }
        .demo-image {
          width: 550px;
          height: auto;
          border-radius: 15px;
        }
      }
      @media (max-width: 600px) {
        a .demo-image {
          max-width: 274px;
          width: 100%;
        }
      }
    }
    &__bottom {
      position: relative;
      color: $project-text;
      margin: auto 0 auto 80px;

      .description-container {
        .title-container {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          .demo-title {
            font-family: 'Playfair Display', serif;
            font-weight: 600;
            font-size: 52px;
            margin-right: 10px;
            @media (max-width: 600px) {
              font-size: 36px;
              margin-bottom: 10px;
            }
          }
          .source-links {
            display: flex;
            justify-content: space-between;
            .demo-link {
              margin: 0 0 0 10px;
              &:focus {
                outline: 0;
              }
            }
          }
        }
        .demo-description {
          font-size: 18px;
          font-weight: 300;
          line-height: 1.3;
          text-align: start;
          color: $body-text;
          opacity: 0.8;
        }
      }
      .demo-links {
        display: flex;
        align-items: center;
        margin-top: 30px;

        .view-more {
          font-weight: 600;
        }
        a {
          font-size: 18px;
          color: $body-text;
          opacity: 0.8;
          text-decoration: none;
          margin: 0 15px 0 0;
          transition: 0.2s all ease;

          &:focus {
            outline: 0;
          }

          &:hover {
            opacity: 1;
          }
        }

        > * {
          margin: 0 0 45px 0;
        }
      }

      @media (max-width: 1650px) {
        .description-container .title-container {
          align-items: flex-start;
          flex-direction: column;
          .source-links {
            display: flex;
            margin-top: 10px;
            .demo-link {
              margin: 0 20px 0 0;
            }
          }
        }
      }
      @media (max-width: 350px) {
        .description-container .title-container .source-links {
          justify-content: space-between;
          .demo-link {
            margin: 0 10px 0 0;
          }
        }
      }
      @media (max-width: 1000px) {
        .demo-links {
          margin-top: 15px;
          a {
            margin: 10px 0;
            font-size: 16px;
          }
        }
      }
    }
    @media (max-width: 950px) {
      flex-direction: column;
      padding: 30px;
      height: 100%;
      &__top,
      &__bottom {
        width: 100%;
      }

      &__bottom {
        max-width: 550px;
        margin: 30px auto;
        .demo-description {
          width: 100%;
        }
      }
    }
  }
}

.scroll-indicator {
  position: absolute;
  bottom: 10rem;
  opacity: 0.5;
  &::before,
  &::after {
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &::before {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px solid $body-text;
    animation: dot 3s infinite ease-in-out;
  }
  &::after {
    width: 7px;
    height: 7px;
    border-right: 1px solid $body-text;
    border-bottom: 1px solid $body-text;
    transform: rotate(45deg);
    animation: arrow 3s infinite ease-in-out;
    animation-delay: 0.75s;
    opacity: 0.25;
  }
  & > div {
    display: block;
    &::before,
    &::after {
      content: '';
      display: block;
      margin: 5px auto;
      border-radius: 10px;
      border: 1px solid $light-text;
      animation: dot 3s infinite ease-in-out;
    }
    &::before {
      width: 8px;
      height: 8px;
      animation-delay: 0.25s;
    }
    &::after {
      width: 6px;
      height: 6px;
      animation-delay: 0.5s;
    }
  }
}

@keyframes dot {
  0% {
    transform: scale(0.75);
    opacity: 0.25;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.75);
    opacity: 0.25;
  }
}

@keyframes arrow {
  0% {
    transform: scale(0.75) rotate(45deg);
    opacity: 0.25;
  }
  25% {
    transform: scale(1) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.75) rotate(45deg);
    opacity: 0.25;
  }
}

.outline-button {
  position: relative;
  padding: 10px 15px;
  border: 1px solid $body-text;
  color: $body-text;
  font-weight: 500;
  text-decoration: none;
  opacity: 0.7;
  border-radius: 5px;
  transition: 0.2s all ease;
  &:hover {
    opacity: 1;
  }
}

.projectHeader {
  display: flex;
  align-items: center;
  padding: 10px 24px;
  background-color: transparent;
  backdrop-filter: unset;
  nav {
    justify-content: flex-start;
    margin: 0 auto 0 0;
    a {
      font-size: 18px;
      font-weight: 500;
    }
    button {
      margin-right: 24px;
    }
  }

  .social-icons {
    position: fixed;
    bottom: 12px;
    right: 12px;
    a {
      padding: 6px 12px;
      margin: 0;

      &:last-child {
        padding-right: 12px;
      }
    }
  }

  @media (max-width: 550px) {
    padding: 10px;
    margin: 0;
  }
}

.homeButton {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.012em;
  color: #fffffe;
  border-radius: 50px;
  border: 0;
  outline: 0;
  background-color: #252422;
  transition: 0.2s all ease;
  cursor: pointer;

  svg {
    margin-right: 5px;
  }
  &:hover {
    background-color: #161616;
  }
}

.project {
  &__details {
    font-size: 16px;
    line-height: 1.5;

    h2 {
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0;
    }

    a {
      color: lightcoral;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      list-style: disc;
      padding: 0 0 0 2em;
      li {
        margin: 5px 0;
      }
    }
  }
}

.project-page {
  margin-top: 20px;
}

.d-none {
  display: none;
  opacity: 0;
}

.header-hide {
  display: none;
}

.header-show {
  display: flex;
}
